.product-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-view .related {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    width: 200px;
}

.product-view .related .variant-container {
    display: flex;
    height: 50px;
}

.product-view .related img {
    margin: 0 5px;
}

.product-view .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.product-view .related::-webkit-scrollbar {
    width: 0;
    height: 0;
}