.product-view .related {
    display: flex;
    height: 50px;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product-view .related img {
    margin-right: 10px;
}

.product-view .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.product-view .related::-webkit-scrollbar {
    width: 16px;
    height: 20px;

    background: transparent;
    color: transparent;
    border: transparent;
}