.product-page header {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px 10px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
}

.search-bar {
    align-items: center;
}

.search-bar input {
    height: 20px;
}