body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 10px;
  justify-content: space-between;
  border-bottom: solid 1px #BABABA;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo-bar,
.search-bar {
  align-items: center;
  height: 50px;
}

.search-bar input {
  height: 20px;
}

.product-page {
  min-width: 320px
}

.menu-bar,
.search-bar {
  display: none;
}

.tablet-port .menu-bar,
.tablet-port .search-bar,
.tablet-land .menu-bar,
.tablet-land .search-bar,
.desktop-sd .menu-bar,
.desktop-sd .search-bar,
.desktop-hd .menu-bar,
.desktop-hd .search-bar {
    display: flex;
}

.visible {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
