body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-page {
  min-width: 320px
}

.menu-bar,
.search-bar {
  display: none;
}

.menu-bar ul {
  display: flex;
  list-style: none; 
  justify-content: "space-between";
}

.tablet-port .menu-bar,
.tablet-port .search-bar,
.tablet-land .menu-bar,
.tablet-land .search-bar,
.desktop-sd .menu-bar,
.desktop-sd .search-bar,
.desktop-hd .menu-bar,
.desktop-hd .search-bar {
    display: flex;
}
