

@media (prefers-reduced-motion: no-preference) {
    .loading-logo {
        height: 80px;
        animation: loading-logo-spin infinite 2s linear;
    }
}

@keyframes loading-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.product-list-view {
    display: flex;
    flex-wrap: wrap;
}

.product-view  {
    width: 100%;
}
.product-view img.product {
    width: 100%;
}