@media (prefers-reduced-motion: no-preference) {
    .loading-logo {
        height: 80px;
        animation: loading-logo-spin infinite 2s linear;
    }
}

@keyframes loading-logo-spin {
    from { transform: rotate(0deg); } to { transform: rotate(360deg); }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.empty-state {
    display: flex;
    flex-grow: 1;
}

.product-list-view {
    display: grid;
    max-width: 100%;
    grid-template-columns: 100%;
    margin: 0 5px;
}

.mobile-land .product-list-view,
.tablet-port .product-list-view {
    grid-template-columns: calc(100%/2) calc(100%/2);
}

.tablet-land .product-list-view {
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3) ;
}

.desktop-sd .product-list-view {
    grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) calc(100%/4);
}

.desktop-hd .product-list-view {
    grid-template-columns: calc(100%/5) calc(100%/5) calc(100%/5) calc(100%/5) calc(100%/5);
}

.product-view  {
    margin: 5px;
}
.product-view img.product {
    width: 100%;
}
